<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head.ejs', {title: "Sửa mã giảm giá" })%>

</head>

<body>
	<%- include('../layout/header.ejs') %>
		
	<%- include('../layout/sidebar.ejs') %><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin"><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href="/admin/voucher">Quản lý voucher</a></li>
				<li class="active">Sửa voucher</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Voucher(<%=voucher.name%>)</h1>
			</div>
		</div><!--/.row-->
		<% if(err){%>
			<div class="alert alert-danger"><%=err%></div>
		<% }%>		
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" action="/admin/voucher/update/<%=voucher.id%>" method="post" >
							
								<div class="form-group">
									<label>Tên voucher</label>
									<input class="form-control" type="text" placeholder="" required name="voucherName" value="<%=voucher.name%>">
								</div>
																
								<div class="form-group">
									<label>Mã voucher</label>
									<input  class="form-control" type="text" placeholder="" required name="voucherCode" value="<%=voucher.code%>">
								</div>
								<div class="form-group">
									<label>Số lượng</label>
									<input  class="form-control" type="number" required name="quantity" value="<%=voucher.quantity%>">
								</div>																						
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Tính năng mã</label>
									<select class="form-control" id="selectVoucher" name="type" required>	
									<option <% if(voucher.type=="Money"){%>selected<%}%> value="Money">Giảm theo giá tiền</option>
                                    <option <% if(voucher.type=="Percent"){%>selected<%}%> value="Percent">Giảm theo phần trăm</option>
									</select>
									
								</div>
								<div class="form-group" id="voucherMoney">
									<label>Số tiền giảm</label>
									<input  class="form-control" type="number" name="quantityMoney" value="<%=voucher.quantityMoney%>">
								</div>
								<div class="form-group" id="voucherPercent">
									<label>Phần trăm giảm</label>
									<input  class="form-control" type="number" name="quantityPercent" value="<%=voucher.quantityPercent%>">
								</div>
								<div class="form-group" id="quantityMoneyMax">
									<label>Số tiền giảm max</label>
									<input  class="form-control" type="number" name="quantityMoneyMax" value="<%=voucher.quantityMoneyMax%>">
								</div>
								<div class="form-group">
									<label>Từ ngày   :</label>
									<input id="since" onchange='check();' type="date" required name="since"  value="<%=timeStart%>" >
									<label>Đến ngày :</label>
									<input id="toDate" onchange='check();' type="date" required name="toDate" value="<%=timeEnd%>">
								</div>
								
								<div class="form-group">
							
									<span id='message'></span>
								</div>
								
								<div class="form-group">
									<label>Trạng thái</label>
									<select class="form-control" name="status" >
										
										<option <% if(voucher.status=="Có"){%>selected<%}%> value="Có">Có hiệu lực</option>
                                    	<option <% if(voucher.status=="Không"){%>selected<%}%> value="Không">Không hiệu lực</option>
									</select>
								</div>
								
								
								
								<button type="submit" class="btn btn-primary">Thêm mới</button>
								<button type="reset" class="btn btn-default">Thoát</button>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		<%- include('../layout/footer.ejs')%>
	</div><!--/.main-->

	<!-- <script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script> -->
	<script>
		Date.prototype.toDateInputValue = (function() {
			var local = new Date(this);
			local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
			return local.toJSON().slice(0,10);
		});
		/* document.getElementById('since').value = new Date().toDateInputValue(); */
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
		const today = new Date().toDateInputValue();
		var check = function() {
			if (document.getElementById('since').value <= document.getElementById('toDate').value && document.getElementById('toDate').value >= today &&document.getElementById('since').value>=today) {
					document.getElementById('message').innerHTML = '';
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Chính xác';
                } else if (document.getElementById('since').value > document.getElementById('toDate').value  ) {
					document.getElementById('message').innerHTML = '';
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'Ngày hết hạn phải lớn hơn ngày tạo!';
                }else {
					document.getElementById('message').innerHTML = '';
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'Ngày hết hạn hoặc ngày tạo ít nhất là ngày hôm nay!';					
                	}
        }
		var a =document.getElementById('selectVoucher');
		var b = a.options[a.selectedIndex].value;
			
			if(b=="Percent"){
				document.getElementById("voucherMoney").style.display = 'none';
				document.getElementById("voucherPercent").style.display = 'block';
				document.getElementById("quantityMoneyMax").style.display = 'block';
			} else{
				document.getElementById("voucherMoney").style.display = 'block';
				document.getElementById("voucherPercent").style.display = 'none';
				document.getElementById("quantityMoneyMax").style.display = 'none';
			}
		
		document.getElementById("selectVoucher").onclick = function () {
			var e =document.getElementById('selectVoucher');
			var d = e.options[e.selectedIndex].value;
			
			if(d=="Percent"){
				document.getElementById("voucherMoney").style.display = 'none';
				document.getElementById("voucherPercent").style.display = 'block';
				document.getElementById("quantityMoneyMax").style.display = 'block';
			} else{
				document.getElementById("voucherMoney").style.display = 'block';
				document.getElementById("voucherPercent").style.display = 'none';
				document.getElementById("quantityMoneyMax").style.display = 'none';
			}	
        };
				
	</script>
	<script>
		
	</script>
</body>

</html>
